services:
  web:
    build: .
    environment:
      - FLASK_RUN_HOST=0.0.0.0
      - FLASK_RUN_PORT=5000
    ports:
      - "0.0.0.0:5053:5000"        # container:5000 -> host:5000

    volumes:
      - .:/app             # live reload when code changes
      - db_data:/app/instance  # named volume just for the DB (and other runtime files)

    env_file:
      - .env

    command: sh -c "mkdir -p instance && flask run"
volumes:
  db_data: