services:
  web:
    build: .
    environment:
      - FLASK_APP=main.py
      - FLASK_RUN_HOST=0.0.0.0
      - FLASK_RUN_PORT=5000
      - FLASK_DEBUG=1
    ports:
      - "0.0.0.0:5000:5000"        # container:5000 -> host:5000

    volumes:
      - .:/app             # live reload when code changes
      - db_data:/app/instance  # named volume for the DB

    env_file:
      - .env

    command: sh -c "mkdir -p instance && flask run"
volumes:
  db_data: