{% extends "layout.html" %}

{% block title %}Flashcards - Imago English{% endblock %}

{% block main %}
  <div class="container mt-5">

    <h3>Flashcards</h3>

    <p>You have {{ total_flashcards }} flashcard{{ 's' if total_flashcards != 1 else '' }}. (Você tem {{ total_flashcards }} flashcard{{ 's' if total_flashcards != 1 else '' }}.)</p>

    <form action="{{ url_for('flashcard.study') }}" method="get">
        <button type="submit" class="btn btn-primary">Study (Estudar)</button>
    </form>
    

    <form action="{{ url_for('flashcard.edit_cards') }}" method="get">
        <button type="submit" class="btn btn-primary">Edit flashcards (Editar flashcards)</button>
    </form>

    

    {% include "partials/add-card-form.html" %}



    
  </div>
{% endblock %}