{% extends "layout.html" %}
{% block title %}{{ student.name }}{% endblock %}

{% block main %}
  <div id="flash-message-container"></div>
  <h2>Student: {{ student.name }}</h2>

    {% include "partials/add-card-form.html" with context %}

  {% for card in flashcards %}
  <div id="card-{{ card.id }}" class="section-box">
      <form class="flashcard-form" data-card-id="{{ card.id }}" method="POST" action="{{ url_for('flashcard.edit_card', card_id=card.id) }}">
          {{ forms[card.id].hidden_tag() }}
          <div class="mb-3">
              {{ forms[card.id].question.label }}
              {{ forms[card.id].question(class="form-control auto-expand") }}
          </div>
          <div class="mb-3">
              {{ forms[card.id].answer.label }}
              {{ forms[card.id].answer(class="form-control auto-expand") }}
          </div>
          <button name="action" value="edit" class="btn btn-primary">Edit</button>
          <button name="action" value="delete" class="btn btn-danger" onclick="return confirm('Delete this flashcard?');">Delete</button>
      </form>
  </div>
  {% endfor %}
''
{% endblock %}
