{% extends "layout.html" %}
{% block title %}Study Flashcards{% endblock %}

{% block main %}
<div>
  <br>
  <p>Flashcards restantes (Flashcards remaining): <span id="remaining-count"></span></p>
</div>

<div id="flashcard-container" class="mt-4"></div>

<script type="text/javascript">
  const flashcards = {{ cards|tojson |safe }};
  const studentId = {{ student_id|tojson }};
  const DASHBOARD_URL = "{{ url_for('dashboard.index') }}";  
</script>


<script>
  window.IMAGO_TTS_LANGUAGE = "{{ current_user.learning_language or 'en' }}";
</script>
<script src="{{ url_for('static', filename='js/study.js') }}"></script>
{% endblock %}
