{% extends "layout.html" %}

{% block title %}
    Termos de Uso
{% endblock %}

{% block main %}

<h2>1. Termos</h2>
<p>Ao acessar ao site <a href="https://www.imagoenglish.com.br">Imago English</a>, concorda em cumprir estes termos de serviço, todas as leis e regulamentos aplicáveis e concorda que é responsável pelo cumprimento de todas as leis locais aplicáveis. Se você não concordar com algum desses termos, está proibido de usar ou acessar este site. Os materiais contidos neste site são protegidos pelas leis de direitos autorais e marcas comerciais aplicáveis.</p>

<h2>2. Uso de Licença</h2>
<p>É concedida permissão para baixar temporariamente uma cópia dos materiais (informações ou software) no site Imago English, apenas para visualização transitória pessoal e não comercial. Esta é a concessão de uma licença, não uma transferência de título e, sob esta licença, você não pode:&nbsp;</p>
<ol>
  <li>modificar ou copiar os materiais;&nbsp;</li>
  <li>usar os materiais para qualquer finalidade comercial ou para exibição pública (comercial ou não comercial);&nbsp;</li>
  <li>tentar descompilar ou fazer engenharia reversa de qualquer software contido no site Imago English;&nbsp;</li>
  <li>remover quaisquer direitos autorais ou outras notações de propriedade dos materiais; ou&nbsp;</li>
  <li>transferir os materiais para outra pessoa ou 'espelhar' os materiais em qualquer outro servidor.</li>
</ol>
<p>Esta licença será automaticamente rescindida se você violar alguma dessas restrições e poderá ser rescindida por Imago English a qualquer momento. Ao encerrar a visualização desses materiais ou após o término desta licença, você deve apagar todos os materiais baixados em sua posse, seja em formato eletrônico ou impresso.</p>

<h2>3. Isenção de responsabilidade</h2>
<ol>
  <li>Os materiais no site da Imago English são fornecidos 'como estão'. Imago English não oferece garantias, expressas ou implícitas, e, por este meio, isenta e nega todas as outras garantias, incluindo, sem limitação, garantias implícitas ou condições de comercialização, adequação a um fim específico ou não violação de propriedade intelectual ou outra violação de direitos.</li>
  <li>Além disso, o Imago English não garante ou faz qualquer representação relativa à precisão, aos resultados prováveis ou à confiabilidade do uso dos materiais em seu site ou de outra forma relacionado a esses materiais ou em sites vinculados a este site.</li>
</ol>

<h2>4. Limitações</h2>
<p>Em nenhum caso o Imago English ou seus fornecedores serão responsáveis por quaisquer danos (incluindo, sem limitação, danos por perda de dados ou lucro ou devido a interrupção dos negócios) decorrentes do uso ou da incapacidade de usar os materiais em Imago English, mesmo que Imago English ou um representante autorizado da Imago English tenha sido notificado oralmente ou por escrito da possibilidade de tais danos. Como algumas jurisdições não permitem limitações em garantias implícitas, ou limitações de responsabilidade por danos consequentes ou incidentais, essas limitações podem não se aplicar a você.</p>

<h2>5. Precisão dos materiais</h2>
<p>Os materiais exibidos no site da Imago English podem incluir erros técnicos, tipográficos ou fotográficos. Imago English não garante que qualquer material em seu site seja preciso, completo ou atual. Imago English pode fazer alterações nos materiais contidos em seu site a qualquer momento, sem aviso prévio. No entanto, Imago English não se compromete a atualizar os materiais.</p>

<h2>6. Links</h2>
<p>O Imago English não analisou todos os sites vinculados ao seu site e não é responsável pelo conteúdo de nenhum site vinculado. A inclusão de qualquer link não implica endosso por Imago English do site. O uso de qualquer site vinculado é por conta e risco do usuário.</p>

<h2>7. Termos de Pagamento</h2>
<p>Todos os pagamentos feitos através do nosso site são processados pelo Stripe, um processador de pagamentos seguro de terceiros. Ao usar nossos serviços, você concorda em estar vinculado aos Termos de Serviço do Stripe. Aceitamos os principais cartões de crédito e outras formas de pagamento indicadas em nosso site. Todos os pagamentos estão sujeitos a verificações de validação e autorização pelo emissor do cartão. Se o emissor do seu cartão se recusar a autorizar o pagamento, não seremos responsáveis por qualquer atraso ou não entrega dos serviços.</p>

<h2>8. Responsabilidades do Usuário</h2>
<p>Os usuários são responsáveis por fornecer informações de pagamento precisas e completas. Você deve garantir que seus dados de pagamento estejam atualizados e corretos. Qualquer problema ou disputa relacionada ao pagamento deve ser resolvido prontamente.</p>

<h2>9. Disponibilidade do Serviço</h2>
<p>Nos esforçamos para garantir que o processamento de pagamentos esteja disponível o tempo todo. No entanto, podem haver instâncias em que o serviço esteja indisponível devido a manutenção ou outras razões fora do nosso controle. Não seremos responsáveis por tais interrupções ou atrasos.</p>

<h2>10. Rescisão e Suspensão</h2>
<p>Reservamo-nos o direito de suspender ou encerrar sua conta se detectarmos qualquer atividade fraudulenta ou se houver disputas de pagamento não resolvidas. Qualquer valor pendente deve ser liquidado antes que a conta possa ser reintegrada.</p>

<h3>Modificações</h3>
<p>O Imago English pode revisar estes termos de serviço do site a qualquer momento, sem aviso prévio. Ao usar este site, você concorda em ficar vinculado à versão atual desses termos de serviço.</p>

<h3>Lei aplicável</h3>
<p>Estes termos e condições são regidos e interpretados de acordo com as leis do Imago English e você se submete irrevogavelmente à jurisdição exclusiva dos tribunais naquele estado ou localidade.</p>

{% endblock %}
