<div class="section-box my-flashcards"> 
    <form id="add-card-form" action="/flashcard/addcards" method="post">
        {{ form.hidden_tag() }}

        <div class="mb-3">
            {{ form.question(class="form-control mx-auto w-auto", placeholder="pergunta", autofocus=True, autocomplete="off") }}
        </div>

        <div class="mb-3">
            {{ form.answer(class="form-control mx-auto w-auto", placeholder="resposta", autofocus=True, autocomplete="off") }}
        </div>

        <div class="mb-3">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
