{% if current_user.is_authenticated %}

    {% if current_user.role == 'teacher' %}
        {# Teacher view #}
        <ul class="navbar-nav ms-auto mt-2">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('audiobook.audiobooks') }}">Audiobooks</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('flashcard.flashcards') }}">Flashcards</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('progress.leaderboard') }}">Learderboard</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('calendar.calendar_settings') }}">Calendar</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Log out</a></li>
        </ul>

    {% elif current_user.role == '@dmin!' %}
        {# Admin view #}
        <ul class="navbar-nav ms-auto mt-2">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('audiobook.audiobooks') }}">Audiobooks</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('flashcard.flashcards') }}">Flashcards</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('progress.leaderboard') }}">Learderboard</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Log out</a></li>
        </ul>


    {% elif current_user.teacher %}
        {# Student assigned to a teacher #}
        <ul class="navbar-nav ms-auto mt-2">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('audiobook.audiobooks') }}">Audiobooks</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('flashcard.flashcards') }}">Flashcards</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('progress.learderboard') }}">Learderboard</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a></li>
        </ul>

    {% else %}
        {# Unassigned student or fallback case #}
        <ul class="navbar-nav ms-auto mt-2">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('audiobook.audiobooks') }}">Audiobooks</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('flashcard.flashcards') }}">Flashcards</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('progress.leaderboard') }}">Learderboard</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a></li>
        </ul>
    {% endif %}

{% else %}
    
{% endif %}

{# Dark mode switch (always shown) #}
<ul class="navbar-nav ms-auto mt-2">
    <li class="nav-item d-flex align-items-center justify-content-end">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="dark-mode-toggle">
        </div>
    </li>
</ul>
