{% if current_user.is_authenticated %}

    {% if current_user.role == 'teacher' %}
        {# Teacher view #}
        <ul class="navbar-nav ms-auto mt-2">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('audiobook.audiobooks') }}">Audiobooks</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('audiobook.library') }}">Library</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('flashcard.flashcards') }}">Flashcards</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('progress.leaderboard') }}">Leaderboard</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('calendar.calendar_settings') }}">Calendar</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('billing.index') }}">Billing</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Sign out</a></li>
        </ul>

    {% elif current_user.role == '@dmin!' %}
        {# Admin view #}
        <ul class="navbar-nav ms-auto mt-2">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('audiobook.audiobooks') }}">Audiobooks</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('audiobook.library') }}">Library</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('flashcard.flashcards') }}">Flashcards</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('progress.leaderboard') }}">Leaderboard</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('calendar.calendar_settings') }}">Calendar</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('billing.index') }}">Billing</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Sign out</a></li>
        </ul>


    {% elif current_user.billing_mode == 'internal' %}
        {# student pays through Asaas #}
        <ul class="navbar-nav ms-auto mt-2">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            {% if current_user.assigned_teacher_id %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('audiobook.audiobooks') }}">
                        Audiobooks
                    </a>
                </li>
            {% endif %}

            {% if library_available %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('audiobook.library') }}">Library</a></li>
            {% endif %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for('flashcard.flashcards') }}">Flashcards</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('progress.leaderboard') }}">Leaderboard</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('billing.student_subscription') }}">Subscription</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Sign out</a></li>
        </ul>

    {% elif current_user.billing_mode == 'external' %}
        {# student pays to teacher #}
        <ul class="navbar-nav ms-auto mt-2">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('audiobook.audiobooks') }}">Audiobooks</a></li>
            {% if library_available %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('audiobook.library') }}">Library</a></li>
            {% endif %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for('flashcard.flashcards') }}">Flashcards</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('progress.leaderboard') }}">Leaderboard</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Sign out</a></li>
        </ul>



    {% else %}
        {# Unassigned student or fallback case #}
        <ul class="navbar-nav ms-auto mt-2">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('audiobook.audiobooks') }}">Audiobooks</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('flashcard.flashcards') }}">Flashcards</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('progress.leaderboard') }}">Leaderboard</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('billing.student_subscription') }}">Subscription</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Sign Out</a></li>
        </ul>
    {% endif %}

{% elif guest_user %}

    {# Guest view #}
    <ul class="navbar-nav ms-auto mt-2">
        <li class="nav-item"><a class="nav-link" href="{{ url_for('dashboard.index') }}">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('audiobook.library') }}">Library</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('flashcard.flashcards') }}">Flashcards</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('flashcard.study') }}">Study</a></li>
    </ul>

{% else %}

    {# Completely anonymous visitor #}

{% endif %}
    

