<br>
<form id="flashcard-search" class="mb-3">
  <div class="d-inline-flex align-items-center">
    <input id="flashcard-search-input"
           type="text"
           class="form-control"
           style="width: auto; max-width: 300px;"
           placeholder="Search flashcards…"
           autocomplete="off">
    
  </div>

  <div>
  <div class="form-check form-check-inline mt-2">
    <input class="form-check-input" type="checkbox" id="search-question" checked>
    <label class="form-check-label" for="search-question">Question</label>
  </div>

  <div class="form-check form-check-inline mt-2">
    <input class="form-check-input" type="checkbox" id="search-answer" checked>
    <label class="form-check-label" for="search-answer">Answer</label>
  </div>
  </div>
  <p id="match-count" class="mt-2 text-info ms-2 mb-0"></p>
</form>