{% extends "layout.html" %}

{% block title %}Dashboard - Imago English{% endblock %}

{% block main %}


    <div class="container mt-5">
    {% if current_user.is_authenticated %}

        <h2 class="mb-4">Welcome, {{ current_user.name }}</h2>
        <p>Role: <strong>{{ current_user.role }}</strong></p>

        <p>
          Sequência de estudos (Study streak): <strong>{{ current_user.study_streak }}
          {{ "dia (day)" if current_user.study_streak == 1 else "dias (days)" }}</strong> 🔥<br>
          Máxima sequência de estudos (Max Study Streak): <strong>{{ current_user.max_study_streak }}
          {{ "dia (day)" if current_user.max_study_streak == 1 else "dias (days)" }}</strong> 🏅<br>
          Total de cartões estudados (Total cards studied): <strong>{{ current_user.flashcards_studied }}</strong> 🃏<br>
          {% if current_user.role == 'teacher' %}
          Rate 3: <strong>{{ current_user.rate_three_count }}</strong> ⭐⭐⭐<br>
          {% endif %}
        </p>

        {% if current_user.role == 'student' %}
        <div>
          {% if current_user.assigned_teacher_id %} 
            <p> Teacher: {{ current_user.assigned_teacher.name }}</p>
          {% endif %}
         

        </div>
        
        
          {% include "partials/add-card-form.html" %}

        {% elif current_user.role == 'teacher' %} 

          {% include "partials/teacher_dashboard.html" %}

        {% elif current_user.role == '@dmin!' %}

          {% include "partials/admin_dashboard.html" %}

        {% endif %}

            <hr>
    {% endif %}

   
{% endblock %}
