{% extends "layout.html" %}

{% block title %}Dashboard - Imago English{% endblock %}

{% block main %}


    <div class="container mt-5">
    {% if current_user.is_authenticated %}

        <h2 class="mb-4">Welcome, {{ current_user.name }} | ID: {{current_user.id}}</h2>
        <p>Your role: <strong>{{ current_user.role }}</strong></p>
        {% if current_user.role == 'student' %}
        <div>
          {% if current_user.assigned_teacher_id %} 
            <p> Teacher: {{ current_user.assigned_teacher.name }}</p>
          {% endif %}
         
          <p>
            Study streak: {{ current_user.study_streak }}
            {{ "day" if current_user.study_streak == 1 else "days" }} 🔥<br>
            Max Study Streak: {{ current_user.max_study_streak }}
            {{ "day" if current_user.max_study_streak == 1 else "days" }} 🏅<br>
            Total Cards Studied: {{ current_user.flashcards_studied }} 🃏<br>
          </p>
        </div>
        
        
          {% include "partials/add-card-form.html" %}

        {% elif current_user.role == 'teacher' %} 

          {% include "partials/teacher_dashboard.html" %}

        {% elif current_user.role == '@dmin!' %}

          {% include "partials/admin_dashboard.html" %}

        {% endif %}

            <hr>
    {% endif %}

   
{% endblock %}
